@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../sass/base/fonts/raleway-bold.woff") format("woff"), url("../sass/base/fonts/raleway-bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../sass/base/fonts/roboto-black-webfont.woff") format("woff"), url("../sass/base/fonts/roboto-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../sass/base/fonts/roboto-bold-webfont.woff") format("woff"), url("../sass/base/fonts/roboto-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../sass/base/fonts/roboto-medium-webfont.woff") format("woff"), url("../sass/base/fonts/roboto-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../sass/base/fonts/roboto-regular-webfont.woff") format("woff"), url("../sass/base/fonts/roboto-regular-webfont.woff2") format("woff2");
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #fff;
  --style-color: #2196f3;
  --secondary-style-color: #188ce8;
  --social-links-color: #afb1b8;
  --border-color: #eee;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --logo-color: #000;
  --gap: 30px;
  --section-gap: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  max-width: 100%;
  overflow-x: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: var(--gap);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: var(--section-gap);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation, .site-nav, .features__background-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__link, .form-footer__btn, .modal-form__policy, .team-social__link, .social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container, .hero, .hero__title, .features__icon, .modal-form__send-button, .modal-form {
  margin-left: auto;
  margin-right: auto;
}

.hero__btn, .modal-form__send-button, .form-footer__btn {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--accent-color);
  background: var(--style-color);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list + .contacts__list {
    margin-top: 10px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.16;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--style-color);
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__list + .contacts__list {
    margin-left: var(--section-gap);
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--style-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.site-nav__list + .site-nav__list {
  margin-left: var(--section-gap);
}

.site-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--style-color);
}

.site-nav__link--style {
  color: var(--style-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__link--style::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  background-color: var(--style-color);
  border-radius: 2px;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.hero__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
  max-width: 696px;
  margin-bottom: var(--gap);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 360px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

.features__background-icon {
  background: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: var(--gap);
  height: 120px;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gap));
        flex-basis: calc(100% / 2 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
  .features__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gap));
        flex-basis: calc(100% / 4 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (max-width: 1199px) {
  .images {
    display: none;
  }
  .images__list {
    display: none;
  }
  .images__item {
    display: none;
  }
}

.section--gap {
  padding-top: 0;
}

.images {
  margin-bottom: 50px;
}

.images__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.images__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - var(--gap));
      flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.images__description {
  position: absolute;
  top: 224px;
  min-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-top: 27px;
}

.section--color {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
}

.team__member {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__member {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gap));
        flex-basis: calc(100% / 2 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__member {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gap));
        flex-basis: calc(100% / 4 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (max-width: 767px) {
  .team__member:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

.team__member-description {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

.team__member-name {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__member-direction {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-bottom: 16px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gap));
        flex-basis: calc(100% / 2 - var(--gap));
    margin-right: var(--gap);
    margin-bottom: var(--gap);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gap));
        flex-basis: calc(100% / 3 - var(--gap));
    margin-right: var(--gap);
    margin-bottom: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: var(--gap);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid var(--social-links-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  fill: var(--social-links-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients__link {
    max-width: 210px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  fill: var(--style-color);
  border-color: var(--style-color);
}

@media screen and (min-width: 768px) {
  .product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
}

@media screen and (max-width: 767px) {
  .product__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

.product__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .product__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gap));
        flex-basis: calc(100% / 2 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .product__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gap));
        flex-basis: calc(100% / 3 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

.product__item:hover, .product__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link {
  color: inherit;
  text-decoration: none;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__item:hover .product__overlay,
.product__item:focus .product__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__text {
  position: absolute;
  bottom: 173px;
  top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--accent-color);
}

.product__content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__content--gap {
    padding-bottom: 54px;
  }
}

.product__name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contacts {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    padding-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    padding-bottom: 60px;
  }
}

.footer-contacts__address {
  margin-bottom: 9px;
  color: var(--accent-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .footer-contacts__address {
    margin-bottom: 8px;
    text-align: center;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts__list {
    text-align: center;
  }
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .footer-contacts__item + .footer-contacts__item {
    margin-top: 8px;
  }
}

.footer-contacts__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--style-color);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--logo-color);
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.logo__name--style {
  color: var(--style-color);
}

.logo__style-footer {
  color: var(--accent-color);
}

.logo--gap {
  margin-right: 0;
  margin-bottom: 20px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
  padding: 48px 40px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__nav-list {
  margin-bottom: 302px;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--style-color);
}

.mobile-menu__nav-link--current {
  color: var(--style-color);
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primery-text-color);
}

.mobile-menu__contacts-link--style {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--style-color);
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--style-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.hero__btn {
  padding: 10px 32px;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--secondary-style-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--style-color);
}

.modal-form__send-button {
  height: 50px;
  width: 200px;
}

.modal-form__send-button:hover, .modal-form__send-button:focus {
  background: var(--secondary-style-color);
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .button__list {
    margin-bottom: var(--section-gap);
  }
}

@media screen and (max-width: 767px) {
  .button__item:not(:last-child) {
    margin-right: 8px;
  }
  .button__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button__item + .button__item {
    margin-left: 8px;
  }
}

.button__filter {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button__filter:focus, .button__filter:hover {
  color: var(--accent-color);
  background-color: var(--style-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-footer__btn {
  margin-left: 12px;
  margin-top: 36px;
  height: 50px;
  width: 200px;
}

.form-footer__btn:hover, .form-footer__btn:focus {
  background: var(--secondary-style-color);
}

.form-footer__icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.menu-toggle {
  margin-left: auto;
  background: var(--accent-color);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--style-color);
}

.menu-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: var(--accent-color);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-close:hover, .menu-button-close:focus {
  fill: var(--style-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  min-height: 609px;
  padding: 40px;
  overflow-y: scroll;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  width: 100%;
  max-width: 370px;
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label + .modal-form__label {
  margin-top: 10px;
}

.modal-form__label:focus-within {
  fill: var(--style-color);
}

.modal-form__text {
  margin-bottom: 4px;
  text-align: start;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-form__input {
  width: 100%;
  max-width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal-form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__label:hover .modal-form__input,
.modal-form__label:focus .modal-form__input {
  border-color: var(--style-color);
}

.modal-form__input:focus-within {
  border-color: var(--style-color);
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:hover .modal-form__icon {
  fill: var(--style-color);
}

.modal-form__comment {
  margin-bottom: 4px;
  width: 100%;
  max-width: 370px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:hover, .modal-form__comment:focus, .modal-form__comment:focus-within {
  border-color: var(--style-color);
}

@media screen and (min-width: 480px) {
  .modal-form__comment {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__comment {
    width: 448px;
  }
}

.modal-form__policy {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: var(--gap);
  cursor: pointer;
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
}

.modal-form__checkbox:checked + .modal-form__icon-check {
  border-color: var(--style-color);
  background-color: var(--style-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form__term {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-left: 7px;
}

@media screen and (max-width: 1199px) {
  .modal-form__term {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-form__link-term {
  color: var(--style-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .modal-form__link-term {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 93px;
    padding-top: 72px;
    padding-bottom: 94px;
  }
}

.form-footer__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-footer__label {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .form-footer__label {
    text-align: center;
  }
}

.form-footer__input {
  width: 100%;
  height: 50px;
  background: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:hover, .form-footer__input:focus {
  border-color: var(--style-color);
}

@media screen and (min-width: 480px) {
  .form-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__link {
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: var(--social-links-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  color: var(--accent-color);
  background-color: var(--style-color);
}

.team-social__link + .team-social__link {
  margin-left: 10px;
}

.team-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-footer {
    padding-top: 65px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
    padding-top: 72px;
    padding-bottom: 100px;
  }
}

.social-footer__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .social-footer__text {
    text-align: center;
  }
}

.social-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .social-footer__flex {
    margin-bottom: 60px;
  }
}

.social-footer__link {
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  color: var(--accent-color);
  background-color: var(--style-color);
}

.social-footer__link + .social-footer__link {
  margin-left: 10px;
}

.social-footer__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */