// Смартфон/планшет

@media screen and (max-width: 1199px) {
  .images {
    display: none;
  }

  .images__item {
    display: none;
  }
}

// Десктоп

.section--gap {
  padding-top: 0;
}

.images {
  margin-bottom: 50px;
}

.images__list {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.images__item {
  position: relative;
}

.images__item {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.images__description {
  position: absolute;
  top: 224px;
  min-width: 370px;
  min-height: 70px;

  background: rgba(47, 48, 58, 0.8);

  @include font(14px, 1.14, 700);
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-color);
  padding-top: 27px;
}
