@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
}

.features__item {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.features__background-icon {
  @extend %container-flex;
  background: var(--secondary-background-color);
  border-radius: 4px;

  // margin-bottom: var(--gap);
  height: 120px;
}

.features__icon {
  @extend %position;
}

.features__subtitle {
  @include font(14px, 1.14, 700);
  text-transform: uppercase;

  color: var(--title-text-color);

  // margin-bottom: 10px;
}

.features__text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
}
