.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;

  @extend %position;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-mobile@2x.jpg');
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-tablet.jpg');
    background-size: 768px 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-desktop.jpg');
    background-size: 1600px 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-desktop@2x.jpg');
    }
  }
}

.hero__title {
  // Смартфон/планшет

  @media screen and (max-width: 1199px) {
    @include font(26px, 1.61, 900, 0.06em);
    max-width: 360px;
  }

  //Десктоп

  @include font(44px, 1.36, 900, 0.06em);
  text-transform: uppercase;
  color: var(--accent-color);

  max-width: 696px;
  margin-bottom: var(--gap);
  @extend %position;
}
