@media screen and (min-width: 768px) {
  .product__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
}

@media screen and (max-width: 767px) {
  .product__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

.product__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__link {
  color: inherit;
  text-decoration: none;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  transform: translateY(101%);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .product__item:hover &,
  .product__item:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.product__text {
  position: absolute;

  bottom: 173px;
  top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.55;
  color: var(--accent-color);
}

.product__content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__content--gap {
    padding-bottom: 54px
  }
}

.product__name {
  @include font(18px, 2, 700, 0.06em);
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
}
