// Форма модального окна

.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;

  @include font(20px, 1.15, 700);
  color: var(--title-text-color);
}

.modal-form {
  @extend %position;
  width: 448px;
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  & + & {
    margin-top: 10px;
  }
  &:focus-within {
    fill: var(--style-color);
  }
}

.modal-form__text {
  margin-bottom: 4px;

  text-align: start;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primery-text-color);
}

.modal-form__input {
  width: 448px;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:hover &,
  .modal-form__label:focus & {
    border-color: var(--style-color);
  }

  &:focus-within {
    border-color: var(--style-color);
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:hover & {
    fill: var(--style-color);
  }
}

.modal-form__comment {
  margin-bottom: 4px;
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--style-color);
  }
}

.modal-form__policy {
  position: relative;
  @extend %container-justify;
  margin-top: 20px;
  margin-bottom: var(--gap);
  cursor: pointer;
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;

  .modal-form__checkbox:checked + & {
    border-color: var(--style-color);
    background-color: var(--style-color);
    background-image: url('../images/check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.modal-form__term {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-left: 7px;
}

.modal-form__link-term {
  color: var(--style-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// Форма футера

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include font(14px, 1.14, 700);
  text-transform: uppercase;

  color: var(--accent-color);

  // Десктоп

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    padding-top: 72px;
    padding-bottom: 94px;
  }
}

.form-footer__direction {
  display: flex;
  flex-direction: column;
}

.form-footer__label {
  margin-bottom: 20px;

  // Смартфон/планшет

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.form-footer__input {
  width: 358px;
  height: 50px;
  background: var(--background-color);

  color: rgba(255, 255, 255, 0.6);

  padding: 15px 295px 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    border-color: var(--style-color);
  }
}
