.logo {
  font-family: 'Raleway', sans-serif;
  @include font (26px, 1.3, 700);
  text-decoration: none;

  color: var(--logo-color);

  margin-right: 93px;

  display: flex;
}

.logo__name--style {
  color: var(--style-color);
}


.logo__style-footer {
  color: var(--accent-color);
}