.logo {
  display: flex;
  justify-content: center;

  @include font(24px, 1.16, 700);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--logo-color);


  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }


  @media screen and (min-width: 1200px) {
    @include font(26px, 1.3, 700);
    justify-content: start;
  }
}

.logo__name--style {
  color: var(--style-color);
}

.logo__style-footer {
  color: var(--accent-color);
}

.logo--gap {
  margin-right: 0;
  margin-bottom: 20px;
}
