:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #fff;
  --style-color: #2196f3;
  --secondary-style-color: #188ce8;
  --social-links-color: #afb1b8;
  --border-color: #eee;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --logo-color: #000;
  --gap: 30px;
  --section-gap: 50px;
}

